html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgb(56, 56, 56); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cv {
    width: 210mm;   
    height: 170mm;  
    background: rgb(246, 250, 233); 
}

h1 {
	color: rgb(168, 168, 168);
	text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 35px;
}


h2 {
	color: rgb(12, 12, 12);
	text-align: left;
    margin-top: -20;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

img {
    border-radius: 50%;
	width: 80%;
    margin-top: 20px;
	margin-left: 30px;
    border: 7px solid #d1d1d1;

}

br {
    font-size: small;
}

div {
	background-color: rgb(249, 250, 239);
}

p {
    margin-right: 40px;
    text-align: justify;

}

.datos_personales {
    padding-left: 30px;
    text-align: center;
    font-weight: lighter;

}


.contacto {
    font-weight: normal;
    padding-left: 20px;
    text-align: left;
    margin-right: -40px;
    font-size: small;
}

ul {
    background-color:  rgb(249, 250, 239);
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 20px;
}

.listaexperiencia {
    margin-right: 20px;
    list-style-type: square;
    background-color:  rgb(249, 250, 239);
}
.educont{
    margin-right: 20px;
    list-style-type: square;
    background-color:  rgb(249, 250, 239);
}

li {
    margin-bottom: 5px;
    margin-left: -20px;
    margin-right: 40px;
    text-align: justify;
}

h3 {
    color: rgb(95, 95, 95);
    text-align: left;
    margin-left: 20px;
}

h5 {
    text-align: center;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(90, 107, 27);
    font-weight: bold;
}

.separadorgris {
    color: rgba(185, 185, 185, 0.493);
}

.container {
    display: grid;
    gap: 20px;                
    grid-template-columns: 2fr 5fr; 

    }
    .col {
    flex: 1;

    }